.main,
.dashboard {
    padding: 2rem 4rem;
}

.main,
.dashboard,
.cta__sect {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
}

.dashboard,
.ticket-list {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.cta__sect {
    flex-direction: row;
    justify-content: space-around;
}

.cta__btn {
    border: 2px solid var(--color-plain-white);
    border-radius: .5rem;

    justify-self: center;

    padding: 1rem 2rem;
}

.feature-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.ticket-list {
    padding: 2rem 4rem;
}

.ticket-list__table {
    border: 1px solid var(--color-plain-white);
    border-collapse: collapse;
    text-align: center;

    table-layout: fixed;
    
    width: 100%;
}

.ticket-list__tr {
    background-color: var(--color-plain-white);
    border: 1px solid var(--color-white);
}

.ticket-list__table th,
.ticket-list__table td {
    padding: .5rem 1rem;
}

.ticket-list__th {
    font-size: 1rem;
    font-weight: 700;
}

.table__btn {
    border: 0;
    background-color: var(--color-white);
    
    margin: 0 .2rem;
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    .cta__sect {
        flex-wrap: wrap;
    }
}