.main,
.dashboard,
.cta__sect {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 4rem;
}

.dashboard,
.ticket-list {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.cta__sect {
    flex-direction: row;
    justify-content: space-around;
}

.cta__btn {
    justify-self: center;
    padding: 1rem 2rem;
}