.form,
.profile-logout__sect {
    background-color: var(--color-white);
    border-radius: 1rem;

    gap: 1rem;

    padding: 2rem 4rem;
}

.form,
.inp__sect,
.profile-logout__sect {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.form {
    padding: 4rem;
}

.profile-avatar__img--lbl,
.profile-avatar__icon {
    position: relative;
    cursor: pointer;
}

.profile-avatar__img--lbl,
.profile-avatar__img,
.profile-avatar__sect {
    border: 3px solid var(--color-plain-white);
    border-radius: 50%;

    height: 200px;
    width: 200px;
}

.profile-avatar__img {
    border: 0;
    object-fit: cover;

    box-sizing: border-box;
}

.profile-avatar__sect,
.profile-avatar__txt {
    position: absolute;
}

.profile-avatar__txt {
    color: var(--color-plain-white);
    font-weight: 500;

    filter: drop-shadow(2px 2px 4px var(--color-black));

    top: 55%;
    text-align: center;
}

.profile-avatar__icon {
    top: 88px;
    left: 88px;

    transition: all 500ms;
}

.profile-avatar__icon:hover {
    scale: 1.5;
}

.inp {
    background-color: var(--color-plain-white);
    border: 0;
    border-radius: .5rem;
    color: var(--color-dark-blue);
    font-size: 1.2rem;

    width: 100%;

    padding: 1rem 2rem;
}

.inp__sect:not(.profile-avatar__img--lbl) {
    gap: .5rem;

    width: 80%;
    min-width: 300px;
}

.inp:disabled {
    background-color: var(--color-white);
    border: 3px solid var(--color-plain-white);

    cursor: not-allowed;
}

.inp__lbl {
    font-size: 1.62rem;
}

.form__btn {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-blue);
    border-radius: .5rem;
    color: var(--color-dark-blue);
    font-size: 1rem;

    padding: 1rem 2rem;
}

.form__btn:hover,
.profile-logout__btn:hover {
    background-color: var(--color-dark-blue);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.feature-btn {
    background-color: var(--color-plain-white);
}

.profile-logout__btn {
    background-color: var(--color-plain-white);
    border: 1px solid var(--color-dark-blue);
    border-radius: .5rem;
    color: var(--color-dark-blue);

    padding: 1rem 2rem;
    width: fit-content;
}

@media screen and (max-width:1200px) {
    .form {
        align-items: center;
    }

    .profile-avatar__sect,
    .profile-avatar__img--lbl {
        justify-content: center;
    }
}