.form,
.profile-logout__sect {
    background-color: var(--color-white);
    border-radius: 1rem;

    gap: 1rem;

    padding: 2rem 4rem;
}

.form,
.inp__sect,
.profile-logout__sect {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.form {
    padding: 4rem;
}

.profile-avatar__sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 200px;
}

.profile-avatar__img--sect {
    position: relative;

    cursor: pointer;

    height: 200px;
    width: 200px;
}

.profile-avatar__icon {
    position: absolute;
    top: 55%;
    left: 45%;

    opacity: .7;
    z-index: 2;

    transition: all 500ms;
}

.profile-avatar__icon:hover {
    opacity: 1;
    scale: 1.5;
}

.profile-avatar__txt {
    color: var(--color-white);
    font-size: .62rem;
    font-weight: 700;
    filter: drop-shadow(2px 2px 4px var(--color-black));

    position: absolute;
    top: 45%;
    left: 15%;

    z-index: 2;
}

.profile-avatar__img {
    background-color: var(--color-plain-white);
    border: 2px solid var(--color-plain-white);
    border-radius: 50%;
    filter: brightness(.5) blur(1px);
    -webkit-filter: brightness(.5) blur-shadow(1px);

    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 200px;
    width: 200px;

    transition: all 500ms;
}

.profile-avatar__img:hover,
.profile-avatar__txt:hover,
.profile-avatar__icon:hover {
    filter: brightness(.9) blur(0);
    -webkit-filter: brightness(.9) blur-shadow(0);
}

.inp {
    background-color: var(--color-plain-white);
    border: 0;
    border-radius: .5rem;
    color: var(--color-dark-blue);
    font-size: 1.2rem;

    width: 100%;

    padding: 1rem 2rem;
}

.inp__sect:not(.profile-avatar__sect) {
    gap: .5rem;

    width: 80%;
    min-width: 300px;
}

.inp:disabled {
    background-color: var(--color-white);
    border: 3px solid var(--color-plain-white);

    cursor: not-allowed;
}

.inp__lbl {
    font-size: 1.62rem;
}

.form__btn {
    background-color: var(--color-white);
    border: 1px solid var(--color-dark-blue);
    border-radius: .5rem;
    color: var(--color-dark-blue);
    font-size: 1rem;

    padding: 1rem 2rem;
}

.form__btn:hover,
.profile-logout__btn:hover {
    background-color: var(--color-dark-blue);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.feature-btn {
    background-color: var(--color-plain-white);
}

.profile-logout__btn {
    background-color: var(--color-plain-white);
    border: 1px solid var(--color-dark-blue);
    border-radius: .5rem;
    color: var(--color-dark-blue);

    padding: 1rem 2rem;
    width: fit-content;
}