.title {
    background-color: var(--color-white);
    border-radius: .5rem;
    color: var(--color-black);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 1rem 2rem;
}