.title {
    background-color: var(--color-white);
    border-radius: 1rem;
    color: var(--color-dark-blue);
    font-size: 1.62rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
    padding: 1rem 2rem;
}